/* You can add global styles to this file, and also import other style files */
@import '~viewerjs/dist/viewer.css';
@font-face{
    font-family: Kanz;
    src: url("assets/Kanz.ttf") format('truetype');
}
*{
    font-family: 'Kanz';
    
}
body{
  background: #159957; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #159957, #155799); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #159957, #155799); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Kanz';
}

